sample-webservices-and-bpel/bpel/CreditService/meta-inf/CreditService.wsdl.noneed

<wsdl:definitions xmlns:axis2="http://service.bee.pdn" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://service.bee.pdn/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bee.pdn"><wsdl:documentation>CreditService</wsdl:documentation><wsdl:types><xs:schema xmlns:ns="http://service.bee.pdn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.bee.pdn/xsd">
<xs:element name="getCreditLimit">
<xs:complexType>
<xs:sequence>
<xs:element name="userid" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getIntResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema></wsdl:types><wsdl:message name="getCreditLimitMessage"><wsdl:part name="part1" element="ns0:getCreditLimit" /></wsdl:message><wsdl:message name="getIntResponse"><wsdl:part name="part1" element="ns0:getIntResponse" /></wsdl:message><wsdl:portType name="CreditServicePortType"><wsdl:operation name="getCreditLimit"><wsdl:input message="axis2:getCreditLimitMessage" wsaw:Action="urn:getCreditLimit" /><wsdl:output message="axis2:getIntResponse" wsaw:Action="http://service.bee.pdn/CreditServicePortType/getIntResponse" /></wsdl:operation></wsdl:portType><wsdl:binding name="CreditServiceSOAP11Binding" type="axis2:CreditServicePortType"><soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="getCreditLimit"><soap:operation soapAction="urn:getCreditLimit" style="document" /><wsdl:input><soap:body use="literal" /></wsdl:input><wsdl:output><soap:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:binding name="CreditServiceSOAP12Binding" type="axis2:CreditServicePortType"><soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="getCreditLimit"><soap12:operation soapAction="urn:getCreditLimit" style="document" /><wsdl:input><soap12:body use="literal" /></wsdl:input><wsdl:output><soap12:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="CreditService"><wsdl:port name="CreditServiceSOAP11port_http" binding="axis2:CreditServiceSOAP11Binding"><soap:address location="http://10.40.66.100:9090/axis2/services/CreditService" /></wsdl:port><wsdl:port name="CreditServiceSOAP12port_http" binding="axis2:CreditServiceSOAP12Binding"><soap12:address location="http://10.40.66.100:9090/axis2/services/CreditService" /></wsdl:port></wsdl:service></wsdl:definitions>