sample-webservices-and-bpel/bpel/PrintService/meta-inf/PrintService.wsdl

<wsdl:definitions xmlns:axis2="http://service.bee.pdn" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://service.bee.pdn/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.bee.pdn"><wsdl:documentation>PrintService</wsdl:documentation><wsdl:types><xs:schema xmlns:ns="http://service.bee.pdn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.bee.pdn/xsd">
<xs:element name="getIntResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema></wsdl:types><wsdl:message name="printMessage"><wsdl:part name="part1" element="ns0:getIntResponse" /></wsdl:message><wsdl:message name="printResponse" /><wsdl:portType name="PrintServicePortType"><wsdl:operation name="print"><wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:printMessage" wsaw:Action="urn:print" /><wsdl:output message="axis2:printResponse" /></wsdl:operation></wsdl:portType><wsdl:binding name="PrintServiceSOAP11Binding" type="axis2:PrintServicePortType"><soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="print"><soap:operation soapAction="urn:print" style="document" /><wsdl:input><soap:body use="literal" /></wsdl:input><wsdl:output><soap:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:binding name="PrintServiceSOAP12Binding" type="axis2:PrintServicePortType"><soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="print"><soap12:operation soapAction="urn:print" style="document" /><wsdl:input><soap12:body use="literal" /></wsdl:input><wsdl:output><soap12:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="PrintService"><wsdl:port name="PrintServiceSOAP11port_http" binding="axis2:PrintServiceSOAP11Binding"><soap:address location="http://10.40.66.100:9090/axis2/services/PrintService" /></wsdl:port><wsdl:port name="PrintServiceSOAP12port_http" binding="axis2:PrintServiceSOAP12Binding"><soap12:address location="http://10.40.66.100:9090/axis2/services/PrintService" /></wsdl:port></wsdl:service></wsdl:definitions>