sample-webservices-and-bpel/bpel/CubeService/meta-inf/CubeService.wsdl

<wsdl:definitions xmlns:axis2="http://ws.apache.org/axis2" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.apache.org/axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apache.org/axis2"><wsdl:documentation>CubeService</wsdl:documentation><wsdl:types><xs:schema xmlns:ns="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
<xs:element name="addResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="param0" nillable="true" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cubeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" nillable="true" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema></wsdl:types><wsdl:message name="cubeMessage"><wsdl:part name="part1" element="ns0:addResponse" /></wsdl:message><wsdl:message name="cubeResponse"><wsdl:part name="part1" element="ns0:cubeResponse" /></wsdl:message><wsdl:portType name="CubeServicePortType"><wsdl:operation name="cube"><wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:cubeMessage" wsaw:Action="urn:cube" /><wsdl:output message="axis2:cubeResponse" /></wsdl:operation></wsdl:portType><wsdl:binding name="CubeServiceSOAP11Binding" type="axis2:CubeServicePortType"><soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="cube"><soap:operation soapAction="urn:cube" style="document" /><wsdl:input><soap:body use="literal" /></wsdl:input><wsdl:output><soap:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:binding name="CubeServiceSOAP12Binding" type="axis2:CubeServicePortType"><soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /><wsdl:operation name="cube"><soap12:operation soapAction="urn:cube" style="document" /><wsdl:input><soap12:body use="literal" /></wsdl:input><wsdl:output><soap12:body use="literal" /></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="CubeService"><wsdl:port name="CubeServiceSOAP11port_http" binding="axis2:CubeServiceSOAP11Binding"><soap:address location="http://10.17.58.93:8080/axis2/services/CubeService" /></wsdl:port><wsdl:port name="CubeServiceSOAP12port_http" binding="axis2:CubeServiceSOAP12Binding"><soap12:address location="http://10.17.58.93:8080/axis2/services/CubeService" /></wsdl:port></wsdl:service></wsdl:definitions>